@model Dealer.Models.ColorInterior

@{
    ViewData["Title"] = "Eliminar";
}


<div class="admin-actions-container">
    <h1>Eliminar</h1>

    <h3 style="font-size:1rem;">¿Seguro que quiere eliminar?</h3>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Color:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColorInterior1)
        </dd>
        <dt class = "col-sm-2">
            Precio
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioColorInterior)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdColorInterior" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-warning">Regresar</a>
    </form>
</div>
