*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
}

html {
    font-size: 14px;
}

/*@media (min-width: 1200px) {
    #container .container {
        width: 90% !important;
    }
}*/

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.Home-hero-slides{
    position: relative; 
    max-width: 1000px; 
    margin: 0 auto; 
}

.slider{ 
    display: flex; 
    aspect-ratio: 16 / 9;
    overflow-x: hidden; 
    scroll-snap-type: x mandatory;  
    scroll-behavior: smooth; 
    box-shadow: 0 .25rem .5rem #21212126; 
    border-radius: .5rem; 
}

.slider img{
    flex: 1 0 100%; 
    scroll-snap-align: start;
    object-fit: cover; 
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a{ 
    width: 1rem; 
    height: 1rem;
    border-radius: 50%;
    background-color: #000000;
    opacity: .75; 
}

.slider-nav a:hover{
    opacity: 100%;
}


.Home-banners {
    padding: 0 8.5rem;
}

.Home-banners-container {
    display: flex;
    justify-content: space-between;
}

.Home-banners-content a {
    text-decoration: none;
}

.Home-banners-content img {
    width: 750px;
    height: 430px;
}

.Home-banners-content span {
    font-size: 1.2rem;
}

