html {
    font-size: 14px;
}

/*@media (min-width: 1200px) {
    #container .container {
        width: 90% !important;
    }
}*/

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}


.Home-banners {
    padding: 0 8.5rem;
}

.Home-banners-container {
    display: flex;
    justify-content: space-between;
}

.Home-banners-content a {
    text-decoration: none;
}

.Home-banners-content img {
    width: 750px;
    height: 430px;
}

.Home-banners-content span {
    font-size: 1.2rem;
}
