@model Dealer.Models.ServicioOficialVendedore

@{
    ViewData["Title"] = "Eliminar";
}


<div class="admin-actions-container">
    <h1>Eliminar</h1>

    <h3 style="font-size:1rem;">¿Seguro que quiere eliminar?</h3>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nombre/s y apellido/s:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreVendedor)
        </dd>
        <dt class="col-sm-2">
            Cédula:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CedulaVendedor)
        </dd>
        <dt class="col-sm-2">
            Domicilio:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Domicilio)
        </dd>
        <dt class="col-sm-2">
            Servicio oficial:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdServicioOficialNavigation.NombreServicioOficial)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdVendedor" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-warning">Regresar</a>
    </form>
</div>
