@{
    ViewData["Title"] = "Inicio";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<div class="Home-Hero"></div>

<div class="Home-banners"></div>

<div class="Home-build"> </div>

<div class="Home-testDrive"></div>

<div class="Home-contact"></div>

<footer class="Home-footer"></footer>