@{
    ViewData["Title"] = "Inicio";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<div class="Home-Hero">
    <div class="Home-hero-slides">
        <div class= "slider">
            <img id="img-1" src="https://www.cnet.com/a/img/resize/7ce442d9bcd2e90b30e8dfc7182fb51f14fd4f79/hub/2022/03/24/33f96f32-fbcf-4403-8a51-86fe4537aae7/2022-porsche-911-turbo-s-001.jpg?auto=webp&fit=crop&height=675&width=1200" />
            <img id="img-2" src="https://www.cnet.com/a/img/resize/bb2e37e156b278aad1685e7293fbc0f61846fe3b/hub/2020/06/11/438f382a-8742-4a3c-ad5a-66316ea27196/2021-porsche-911-turbo-s-cabriolet-016.jpg?auto=webp&fit=crop&height=675&width=1200" />
            <img id="img-3" src="https://www.cnet.com/a/img/resize/a3b0bb492809b7120b6cbc5789c39555c20fa266/hub/2022/04/27/5fe9ca2d-635a-4bdc-ac1a-b58f340c0fe9/2023-porsche-911-sport-classic-110.jpg?auto=webp&fit=crop&height=675&width=1200" />
            <img id="img-4" src="https://image.khaleejtimes.com/?uuid=3fdd2a71-600e-5b5d-9be9-3222748b9abe&function=cropresize&type=preview&source=false&q=75&crop_w=0.99999&crop_h=0.93697&x=0&y=0&width=1200&height=675" />
        </div>
        <div class="slider-nav">
            <a href="#img-1"></a>
            <a href="#img-2"></a>
            <a href="#img-3"></a>
            <a href="#img-4"></a>
        </div>
    </div>
</div>

<div class="Home-banners">

    <h2>Nuestros vehículos</h2>

    <div class="Home-banners-container">
        <div class="Home-banners-content">
            <a href="">
                <img src="https://di-uploads-pod15.dealerinspire.com/rusnakpasadenaporsche/uploads/2020/06/Screen-Shot-2020-06-08-at-9.14.31-AM.png" />
                <span>Vehículos nuevos</span>
            </a>
        </div>
        <div class="Home-banners-content">
            <a href="">
                <img src="https://www.motorious.com/content/images/2021/05/Porsches-To-Buy-Now-5.jpg" />
                <span>Vehículos de reestreno</span>
            </a>
        </div>
    </div>

</div>

<div class="Home-build"> </div>

<div class="Home-testDrive"></div>

<div class="Home-contact"></div>

<footer class="Home-footer"></footer>