@{
    ViewData["Title"] = "Inicio";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<div class="Home-Hero"></div>

<div class="Home-banners">

    <h2>Nuestros vehículos</h2>

    <div class="Home-banners-container">
        <div class="Home-banners-content">
            <a href="">
                <img src="https://di-uploads-pod15.dealerinspire.com/rusnakpasadenaporsche/uploads/2020/06/Screen-Shot-2020-06-08-at-9.14.31-AM.png" />
                <span>Vehículos nuevos</span>
            </a>
        </div>
        <div class="Home-banners-content">
            <a href="">
                <img src="https://www.motorious.com/content/images/2021/05/Porsches-To-Buy-Now-5.jpg" />
                <span>Vehículos de reestreno</span>
            </a>
        </div>
    </div>

</div>

<div class="Home-build"> </div>

<div class="Home-testDrive"></div>

<div class="Home-contact"></div>

<footer class="Home-footer"></footer>